<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav>
        <div class="logo">
            <a href="../../public/favicon.png">🎬 Ciné Délices</a>
        </div>

        <ul class="nav">
            <li><a href="/homePage.html">Accueil</a></li>
            <li><a href="/films.html">Films</a></li>
            <li><a href="/recipes.html">Recettes</a></li>
            <li><a href="/creation.html">Créer</a></li>
            <li><a href="/profile.html">Profil</a></li>
            <li><a href="/deconnexion.html">Déconnexion</a></li>
            <li><a href="/login.html">Connexion</a></li>
            <li><a href="/register.html">Inscription</a></li>
            <li><a href="/about.html">À propos</a></li>
            <li><a href="/contact.html">Contact</a></li>
            <li><a href="/.html">Recettes</a></li>
            <li><a href="/recipes.html">Recettes</a></li>
        </ul>
    </nav>
</body>

</html>